{% extends 'base.html.twig' %}

{% block title %}Hello ProductController!{% endblock %}

{% block main %}
    <section id="products">
        {% for product in products %}

            <div>
                <a href=" {{ path('app_product_view', {'id':product.id}) }} ">
                    <h2> {{ product.label }} </h2>
                    <img src="{{asset('images/'~product.imagename)}}" alt="{{product.label}}">
                    <p> {{ product.description|slice(0, 30)~'...' }} </p>
                    
                </a>
            <div>
                {% for tags in product.tags %}
                    
                        <span> {{ tags.label }} </span>
                    
                {% endfor %}</div>

            </div>
            {% if app.user == product.user %}
                    <a href= {{path('update_product',{'id' : product.id})}} >Modifier</a>
                    <form method="POST" onsubmit="return confirm('Confimer la suppression ?')" action=" {{ path('delete_product', {'id': product.id}) }} ">
                        <input type="hidden" name="_method" value="delete">
                        <input type="hidden" name="_token" value="{{csrf_token('COUCOU' ~ product.id)}}">
                        <input type="submit" id="delete" value="Supprimer">
                    </form>
                {% endif %}
        {% endfor %}

        {% if app.user != NULL %}
            <a href="{{path ('app_product_add')}}">Ajouter un objet</a>
        {% endif %}
        
    </section>
{% endblock %}
