<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {{ encore_entry_link_tags('app') }}

    </head>
    <body>
        <header>
            {% block header %}
                <nav>
                    <ul>
                        <li><a href=" {{path ('app_home')}} ">Accueil</a></li>
                        <li><a href="{{path ('app_galerie')}}">Galerie</a></li>
                        <li><a href="">Contact</a></li>
                        <li><a href=""></a></li>
                        <li><a href=""></a></li>
                        {% if app.user == NULL %}
                            <li><a href=" {{path ('app_login')}} ">Se connecter</a></li>
                            <li><a href=" {{path ('app_register')}} ">S'enregistrer</a></li>
                        {% endif %}
                        {% if app.user != NULL %}
                            <li><a href=" {{path ('app_logout')}} ">Se déconnecter</a></li>
                        {% endif %}
                    </ul>
                </nav>
            {% endblock %}
        </header>


        <main>
            {% block main %}
            
            {% endblock %}
        </main>

        <footer>
            {% block footer %}
                <a href="">Contact</a>
            {% endblock %}
        </footer>
        {{ encore_entry_script_tags('app') }}
    </body>
</html>
